@font-face {
  font-family: "Futura-Medium";
  src: url("/fonts/FuturaPT-Medium/FuturaPT-Medium.eot");
  src: url("/fonts/FuturaPT-Medium/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"),
  url("/fonts/FuturaPT-Medium/FuturaPT-Medium.woff") format("woff"),
  url("/fonts/FuturaPT-Medium/FuturaPT-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Futura-Bold";
  src: url("/fonts/FuturaPT-Bold/FuturaPT-Bold.eot");
  src: url("/fonts/FuturaPT-Bold/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"),
  url("/fonts/FuturaPT-Bold/FuturaPT-Bold.woff") format("woff"),
  url("/fonts/FuturaPT-Bold/FuturaPT-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FuturaPT-Book";
  src: url("/fonts/FuturaPT-Book/FuturaPT-Book.eot");
  src: url("/fonts/FuturaPT-Book/FuturaPT-Book.eot?#iefix") format("embedded-opentype"),
  url("/fonts/FuturaPT-Book/FuturaPT-Book.woff") format("woff"),
  url("/fonts/FuturaPT-Book/FuturaPT-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FuturaBookC";
  src: url("/fonts/FuturaBookC/FuturaBookC.eot");
  src: url("/fonts/FuturaBookC/FuturaBookC.eot?#iefix") format("embedded-opentype"),
  url("/fonts/FuturaBookC/FuturaBookC.woff") format("woff"),
  url("/fonts/FuturaBookC/FuturaBookC.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1 {
  font-family: Futura-Bold;
  font-size: 64px;
  color: #2A2C31;
}
h2 {
  font-family: Futura-Bold;
  font-size: 36px;
  color: #2A2C31;
  margin-bottom: 16px;
}
p {
  font-family: Futura-Medium;
  font-size: 16px;
  color: #2A2C31;
}
input, textarea, select, .v-input {
  font-family: FuturaBookC;
  font-size: 20px;
  color: #5A5A5A;
  letter-spacing: 2.08px;
}

.application--wrap {
  font-family: Futura-Medium;
  font-size: 24px;
  line-height: normal;
  color: #000;
  letter-spacing: 0;
  background: white;
  .container {
    transition: all 0.4s;
    @media only screen and (min-width: 1280px) {
      &.showed {
        padding-left: 375px;
      }
    }
  }
  >.container.fluid {
    @media only screen and (max-width: 600px) {
      padding: 100px 20px 10px 6px;
    }
    @media only screen and (min-width: 601px) {
      margin: 15px 0 0 150px;
      position: relative;
    }
  }
}
.theme--light.v-toolbar {
  background: transparent;
  box-shadow: none;
}
.bearle__menu {
  background: #595b61;
  pointer-events: auto;
  will-change: transform;
  z-index: 3;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 540px;
  overflow-x: hidden;
  font-family: FuturaBookC;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 5px;
  @media only screen and (min-width: 600px) {
    width: 440px;
  }
  ul {
    position: absolute;
    bottom: 30px;
    right: 0;
    li {
      list-style: none;
      padding: 20px 50px;
      white-space: nowrap;
      transition: all 0.4s;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .bearle__menu__icon {
        width: 42px;
        height: 72px;
        vertical-align: middle;
      }
    }
  }
  .bearle__menu__title {
    position: absolute;
    left: 300px;
    top: 220px;
    span {
      display: block;
      transform: rotate(-90deg);
      font-size: 24px;
      color: #FFFFFF;
      letter-spacing: 5px;
      text-align: left;
      line-height: 23px;
    }
  }
}
.bearle-transition {
  &-enter-active,
  &-leave-active {
    transition: all 0.4s;
    overflow: hidden;
    min-height: 0;
    ul {
      opacity: 0;
    }
  }
  &-enter-to,
  &-leave {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media only screen and (min-width: 600px) {
      width: 440px;
    }
    ul {
      opacity: 0;
    }
    li {
      @for $i from 1 through 10 { /* Если пунктов меню будет больше 10ти - увеличить число */
        &:nth-child(#{$i}){
          margin-right: ($i * 10px) + 20px;
        }
      }
    }
  }
  &-enter,
  &-leave-to {
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    @media only screen and (min-width: 769px) {
      top: 60px;
      left: 70px;
    }
  }
}
.theme--light.v-list {
  background: transparent;
}

.bearle__burger {
  position: absolute;
  z-index: 30;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  @media only screen and (min-width: 769px) {
    position: fixed;
    top: 60px;
    left: 70px;
    width: 60px;
    height: 60px;
  }
  div {
    position: relative;
    background: #595b61;
    border: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      background-color: #fff;
      display: block;
      height: 2px;
      left: calc(50% - 10px);
      top: calc(50% - 3px);
      position: absolute;
      transform-origin: center;
      transition-duration: 0.5s;
      transition-property: background-color, opacity, transform;
      transition-timing-function: ease-out;
      width: 20px;
    }
    &:after {
      top: calc(50% + 3px);
    }
  }
}
.bearle__burger.isactive {
  //position: fixed;
  div {
    &:before {
      transform: translateY(3px) rotate(-45deg);
    }
    &:after {
      transform: translateY(-3px) rotate(45deg);
    }
  }
}
